/************************ 以上必须 ************************/
.fam-button {
  outline: 0 none;
  -webkit-appearance: none;
  box-sizing: border-box;
  padding: 0 8px;
  text-align: center;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: nowrap;
  color: #000;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  /* 尺寸 */
  /* 主题颜色 */
  /* 细边框 */
}
.fam-button.fam-button-disabled {
  color: rgba(0, 0, 0, 0.3);
  opacity: 0.6;
}
.fam-button.fam-button-active {
  background-color: #f5f5f9;
}
.fam-button-inline {
  display: inline;
}
.fam-button-block {
  display: block;
  width: 100%;
}
.fam-button-small {
  padding: 0 4px;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}
.fam-button-default {
  padding: 0 15px;
  font-size: 16px;
  height: 45px;
  line-height: 45px;
}
.fam-button-large {
  padding: 0 15px;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
}
.fam-button-default {
  border: 1px solid #dcdee0;
}
.fam-button-primary {
  background-color: #268AF0;
  border: 1px solid #268AF0;
  color: #FFF;
}
.fam-button-primary.fam-button-active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #0e80d2;
}
.fam-button-primary.fam-button-disabled {
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.4;
}
.fam-button-success {
  background-color: #6FC643;
  border: 1px solid #6FC643;
  color: #FFF;
}
.fam-button-success.fam-button-active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #65b63c;
}
.fam-button-success.fam-button-disabled {
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.4;
}
.fam-button-warning {
  background-color: #F59A23;
  border: 1px solid #F59A23;
  color: #FFF;
}
.fam-button-warning.fam-button-active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #df8c20;
}
.fam-button-warning.fam-button-disabled {
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.4;
}
.fam-button-danger {
  background-color: #F85C5C;
  border: 1px solid #F85C5C;
  color: #FFF;
}
.fam-button-danger.fam-button-active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #e05353;
}
.fam-button-danger.fam-button-disabled {
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.4;
}
.fam-button-link {
  background-color: transparent;
  color: #268AF0;
}
.fam-button-link.fam-button-active {
  background-color: transparent;
  color: rgba(38, 138, 240, 0.6);
}
.fam-button-link.fam-button-disabled {
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.4;
}
.fam-button-hairline {
  background-color: #FFF;
}
.fam-button-hairline.fam-button-primary {
  color: #268AF0;
  border: 1px solid #268AF0;
}
.fam-button-hairline.fam-button-primary.fam-button-active {
  background-color: #f7f8fa;
}
.fam-button-hairline.fam-button-primary.fam-button-disabled {
  color: rgba(38, 138, 240, 0.8);
  opacity: 0.4;
}
.fam-button-hairline.fam-button-success {
  color: #6FC643;
  border: 1px solid #6FC643;
}
.fam-button-hairline.fam-button-success.fam-button-active {
  background-color: #f7f8fa;
}
.fam-button-hairline.fam-button-success.fam-button-disabled {
  color: rgba(111, 198, 67, 0.8);
  opacity: 0.4;
}
.fam-button-hairline.fam-button-warning {
  color: #F59A23;
  border: 1px solid #F59A23;
}
.fam-button-hairline.fam-button-warning.fam-button-active {
  background-color: #f7f8fa;
}
.fam-button-hairline.fam-button-warning.fam-button-disabled {
  color: rgba(245, 154, 35, 0.8);
  opacity: 0.4;
}
.fam-button-hairline.fam-button-danger {
  color: #F85C5C;
  border: 1px solid #F85C5C;
}
.fam-button-hairline.fam-button-danger.fam-button-active {
  background-color: #f7f8fa;
}
.fam-button-hairline.fam-button-danger.fam-button-disabled {
  color: rgba(248, 92, 92, 0.8);
  opacity: 0.4;
}
.fam-button-hairline.fam-button-link {
  background-color: transparent;
  color: #268AF0;
}
.fam-button-hairline.fam-button-link.fam-button-active {
  background-color: transparent;
  color: rgba(38, 138, 240, 0.6);
}
.fam-button-hairline.fam-button-link.fam-button-disabled {
  color: rgba(255, 255, 255, 0.6);
  opacity: 0.4;
}
