@class-prefix-icon: ~'fam-icon';

.@{class-prefix-icon} {

  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-flex;
  align-items: center;

  /* 尺寸 */
  &-xxs {
    width: 12px;
  }

  &-xs {
    width: 16px;
  }

  &-sm {
    width: 20px;
  }

  &-md {
    width: 24px;
  }

  &-lg {
    width: 28px;
  }

  &-loading {
    animation: cirle-anim .8s linear infinite;
  }

  @keyframes cirle-anim {
    100% {
      transform: rotate(360deg);
    }
  }

}