.d-inline {
  display: inline;
  width: 90px;
  height: 30px;
  line-height: 30px;
  margin: 5px;
  text-align: center;
  color: #FFF;
  background-color: lightskyblue;
}
.d-small {
  display: inline;
  width: 90px;
  height: 20px;
  line-height: 20px;
  margin: 5px;
  text-align: center;
  color: #FFF;
  background-color: lightskyblue;
}
.d-placeholder {
  color: #FFF;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
