@import '../../style/default.less';
@radioPrefixCls: fam-radio;

.@{radioPrefixCls} {

  display: flex;
  align-items: center;

  &-label {
    padding-left: 5px;
    font-size: 16px;
  }

  &-unchecked {
    
  }

  &-checked {

  }

  &-disabled {

  }

}